<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projekuas.testingmaps">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoapk1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoapk1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConfimasiActivity"></activity>
        <activity android:name=".FoodActivity" />
        <activity android:name=".UpnornalActivity" />
        <activity android:name=".RotiBakarActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".letseat" />
        <activity android:name=".home" />
        <activity android:name=".login" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD82-3U_48qp_LRs2MRdYFtPYYfYxXcEkQ" />

        <activity android:name=".about" />
        <activity android:name=".MapsActivity" />
        <activity
            android:name=".splashscreen"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>